@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 208 71% 95%;
    --foreground: 215 25% 27%;
    --card: 0 0% 100%;
    --card-foreground: 215 25% 27%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 25% 27%;
    --primary: 211 62% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 20% 88%;
    --secondary-foreground: 215 25% 27%;
    --muted: 210 20% 88%;
    --muted-foreground: 210 10% 45%;
    --accent: 210 89% 74%;
    --accent-foreground: 210 100% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 80%;
    --input: 0 0% 100%;
    --ring: 211 62% 60%;
    --chart-1: 211 62% 60%;
    --chart-2: 210 89% 74%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 215 25% 27%;
    --sidebar-primary: 211 62% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 208 71% 95%;
    --sidebar-accent-foreground: 211 62% 60%;
    --sidebar-border: 210 20% 88%;
    --sidebar-ring: 211 62% 60%;
  }
  .dark {
    --background: 215 28% 17%;
    --foreground: 210 40% 98%;
    --card: 215 28% 17%;
    --card-foreground: 210 40% 98%;
    --popover: 215 28% 17%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 89% 74%;
    --primary-foreground: 210 100% 15%;
    --secondary: 217 33% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 25%;
    --muted-foreground: 215 25% 65%;
    --accent: 211 62% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 25%;
    --input: 217 33% 25%;
    --ring: 210 89% 74%;
    --chart-1: 211 62% 60%;
    --chart-2: 210 89% 74%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 215 28% 15%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 89% 74%;
    --sidebar-primary-foreground: 210 100% 15%;
    --sidebar-accent: 217 33% 25%;
    --sidebar-accent-foreground: 210 89% 74%;
    --sidebar-border: 217 33% 25%;
    --sidebar-ring: 210 89% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
